<!DOCTYPE html>
<head>
  <title>Chess Game</title>
</head>

<body>
    <centre>
        <div style="align-content: center;">
        <table style="border: 2px solid;">
          {% for row in ui.board %}
          <tr>
          {% for cell in row %}
          <td style="align-content: center; size: 10px; border: 2px solid;">{{ cell }}</td>
          {% endfor %}
      </tr>
  {% endfor %}
  </table>
        <form action="{{ ui.next_link }}" method="POST">
        <p>{{ ui.inputlabel }}:</p>
        <input type="text" name="move" value="" />
        <p>{{ ui.errmsg }}</p>
        <input type="submit" value="{{ ui.btnlabel }}" />
    </form>


    </centre>
  </div>
</body>
