<!DOCTYPE html>
<head>
  <title>Chess Game</title>
</head>

<body>
    <center>
        <div style="align-content: center;">
        <p style='text-align: center;'>{{ ui.board }}</p>
        <form action="{{ next_link }} method="POST">
        <p>{{ ui.inputlabel }}:</p>
        <input type="text" name="move" value="" />
        <p>{{ ui.errmsg }}</p>
        <input type="submit" value="{{ ui.btnlabel }}" />
    </form>
    <table>
        {% for row in ui.board %}
        <tr>
        {% for cell in row %}
        <td>{{ cell }}</td>
        {% endfor %}
    </tr>
{% endfor %}
</table>

    </center>
  </div>
</body>
